/*Validacion Formulario*/

form#sesion_form [required]{
border:solid 1px red;
}
 
/*input:required{
outline: 1px solid red;
}*/
 
 
 
*{
	padding: 0;
	margin: 0;
}



body{
	font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
	background-color: #6c2428;/*vino*/
	
	background-image: url("img/malla.png");
}

h1{
	padding-top: 20px;
	text-align: center;
	/*
text-shadow: 5px 5px 5px #FF0000;
*/
	text-transform: uppercase;
}

h2, h3{
	color: #fdfdfd;/*perlado*/
	text-align: center;
	text-transform: capitalize;
}


/*#####   div personalizado  #####*/

#wrapper{
	width: 300px;
	margin: 100px 200px;
}

header {
    background-color: #434341;
    float: left;
    height: 80px;
    margin-bottom: 10px;
    width: 300px;
	
	border:2px solid;
	border-color: white;
	-moz-border-radius: 5px; /* Firefox */
	border-radius: 5px;
	
	background-image: url("img/base.png");
	background-repeat:repeat-x;
}

header img{
	float: left;
	background-color:#FDFDFD;
	color: #434341;
	text-align: center;
	width: 70px;
	height: 80px;
}

#title{
	float: right;
	color: #fdfdfd;/*perlado*/
	text-align: center;
	height: 80px;
	width: 230px;
}

section, footer{
	background-color:#434341;/*negro*/
	border:2px solid;
	border-color: white;
	
	color:#FDFDFD;
	
	background-image: url("img/negro.png");
}

section {
    float: left;
    height: 200px;
    width:  280px;
	margin-bottom: 5px;
	
	-moz-border-radius:10px 40px 10px 40px; /* Firefox */
	border-radius:10px 40px 10px 40px;
	
	padding: 0 10px;
	
	background-image: url("img/negro.png");
}

.inicio {
    height: 50px;
    margin: 10px 30px;
    width: 200px;
}

#enviar{
	float: right;
	margin-right: 30px;
}

footer{
    -moz-border-radius: 10px 10px 40px 70px;
    border-radius:10px 10px 40px 70px;
	float: left;
    height: 50px;
    width: 280px;
	padding: 20px 10px;
}

#nuevo_trabajador{
	color: #FDFDFD;
}
