/*#####   Elementos HTML     #####*/
*{
	padding: 0;
	margin: 0;
}

body{
	font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
	background-color: #6c2428;/*vino*/
	
	background-image: url("img/malla.png");
}

h1{
	padding-top: 20px;
	text-align: center;
	/*
text-shadow: 5px 5px 5px #FF0000;
*/
	text-transform: uppercase;
}

#volver{
	color: white;
}

#advFooter {
	background-color: #FFFFFF;
	height: 1px;
	left: 278px;
	position: fixed;
	top: 530px;
	width: 1px;
	z-index: 1;
}

h2, h3{
	color: #fdfdfd;/*perlado*/
	text-align: center;
	text-transform: capitalize;
}

h2{
	height: 30px;
	font-size: x-large;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3{
	height: 20px;
	font-size: medium;
}

p{
	text-indent: 20px;
}

/*#####   div personalizado  #####*/

#wrapper{
	max-width: 1000px;
	min-width: 800px;
	margin: auto;
}

header {
    background-color: #434341;
    float: left;
    height: 120px;
    margin-bottom: 10px;
    width: 100%;
	
	border:2px solid;
	border-color: white;
	-moz-border-radius: 5px; /* Firefox */
	border-radius: 5px;
	
	background-image: url("img/base.png");
	background-repeat:repeat-x;
}

header img{
	float: left;
	background-color:#FDFDFD;
	color: #434341;
	text-align: center;
	padding: 0 100px;
	width: 100px;
	height: 120px;
}

#title{
	float: right;
	color: #fdfdfd;/*perlado*/
	text-align: center;
	height: 90px;
	width: 60%;
}

#sesion {
    color: #FDFDFD;
    float: right;
    height: 20px;
    padding: 5px;
    text-align: center;
    width: 60%;
}

#menu, section, footer{
	background-color:#434341;/*negro*/
	border:2px solid;
	border-color: white;
	
	color:#FDFDFD;
}

#menu{
	/*
position: fixed;
	top: 135px;
	left: 20px;
*/
	float:left;
	margin-right: 20px;
	width: 200px;
	height: 320px;	
	-moz-border-radius:10px 40px 10px 40px; /* Firefox */
	border-radius:10px 40px 10px 40px;
	
	background-image: url("img/negro.png");
}

#advVert{
	/*
position: fixed;
	top: 135px;
	left: 20px;
*/
	float:left;
	width: 200px;
	height: 320px;	
	-moz-border-radius:10px 40px 10px 40px; /* Firefox */
	border-radius:10px 40px 10px 40px;

}
	

.botones{
	float: left;
}

.botonesRoles{
	float: right;
}

.botones li{
	
	text-align: center;
	list-style: none;
	padding: 0;
}

.classFooter{
	float: right;
}

.classFooter a {
	text-decoration: none;
	font-weight: bolder;
	color: #fdfdfd;/*perlado*/
}

#menu li{
	display: block;
}

#sesion ul{
	float: right;
}

#sesion li{
	display: inline;
	
	border:2px solid;
	border-color: white;
	-moz-border-radius:5px; /* Firefox */
	border-radius:10px;
}



.botones a{
	text-decoration: none;
	font-weight: bolder;
	color: #fdfdfd;/*perlado*/
}

.botonesRoles a{
	text-decoration: none;
	font-weight: bolder;
	color: #fdfdfd;/*perlado*/
}

#menu a{
	display: block;
	padding: 18px 0;
	width:200px;
}

#sesion a{
	display: inline;
	
	padding: 0 5px;
	height: 20px;
}

#menu a:hover{
	
	background-color: #fdfdfd;/*perlado*/
	background-image: url("img/plata.png");
	color: white;

	font-size: 22px;
}

#sesion a:hover{
	background-color: #fdfdfd;/*perlado*/
	color: #434341;
}


section {
    float: right;
    min-height: 320px;
    width: 67%;
	margin-bottom: 5px;
	padding: 0 10px;
	
	-moz-border-radius:10px 40px 10px 40px; /* Firefox */
	border-radius:10px 40px 10px 40px;
	
	background-image: url("img/negro.png");
}

footer{
    -moz-border-radius: 10px 10px 40px 70px;
    border-radius:10px 10px 40px 70px;
	float: right;
    height: 50px;
    width: 66%;
	padding: 20px 10px;
	margin-bottom: 100px;
	
	background-image: url("img/negro.png");
	
	text-align: center;
}

  
.validation-passed { border-color: blue; } /* campo valido */

.validation-failed { border-color: red; } /* campo invalido */

.validation-advice { color: #C00; font-size: 10px; } /* mensaje de error */