	<script type="text/javascript">
					var 
					
				</script>
				
				<style type="text/css">
				
				#izq{
					width:180px; 
					height:250px; 
					margin: 0 40px; 
					padding: 0 30px; 
					float:left;	
				}
				
				#der{
					width:180px; 
					padding: 0 30px; 
					float:right;	
				}
				
				.usr_reg{
					margin-bottom: 5px;
				}
				
				
				#envio{
					margin-top: 15px;
					margin-left: -150px;
				}
				
				#principal{
					height: 300px;
				}
				
				</style>
				
				<h2> Registro Usuario </h2>
							
				<form name="user_reg" method="post" action="array.php">
					<div id='izq'>
						<div class='usr_reg'>
							<label for="usuario"> No. de Trabajador: </label>
							<input id="usuario" type="text" name="usuario" size="15" maxlength="6">
						</div>
					
						<div class='usr_reg'>
							<label for="pass"> constraseña: </label>
							<input type="password" id="pass" name="pass" size="15" maxlength="10">
						</div>
					
						<div class='usr_reg'>
							<label for="pass2">repite la constraseña: </label>
							<input type="password" id="pass2" name="pass2" size="15" maxlength="10">
						</div>
						
						<div class='usr_reg'>
							<label for="nom_pri"> nombre: </label>
							<input type="text" id="nom_pri" name="nom_pri" size="15" maxlength="10"'> 
						</div>
					
						<div class='usr_reg'>
							<label for="nom_seg"> segundo nombre: </label>
							<input type="text" id="nom_seg" name="nom_seg" size="15" maxlength="10">
						</div>
					</div>
					<div id='der'>
						<div class='usr_reg'>
							<label for="ap_pat"> apellido paterno: </label>
							<input type="text" id="ap_pat" name="ap_pat" size="15" maxlength="10">
						</div>
					
						<div class='usr_reg'>
							<label for="ap_mat"> apellido materno: </label>
							<input type="text" id="ap_mat" name="ap_mat" size="15" maxlength="10">
						</div>
					
						<div class='usr_reg'>
							<label for="tel"> Telefono: </label>
							<input type="tel" id="tel" name="tel" size="15" maxlength="10">
						</div>
					
						<div class='usr_reg'>
							<label for="cat_puesto"> Puesto: </label>
							<br />
							<select id="cat_puesto" name="cat_puesto">
							<?php 
								
							$cat_puesto->nameOpt("puesto");
								
							?>
							</select>
							<br />
							<br />
							<input type="submit" value="Registrar" />
						</div>
						
					</div>
				</form>