<style type="text/css">
	
	
	
	img{
		height: 150px;
		width: 100px;
	}
	
	a:active img{
		position: absolute;
		left: 300px;
		top:  30px;
		height: 600px;
		width: 400px;
	}
	
	
	

</style>
<h2>documentos</h2>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
<a>
<img alt="documento" title="documento" src="../php/beta/gd.php"> </img>
</a>
