<strong>Aviso dirigido a los titulares de datos personales que obran en posesión de Teléfonos de México, S.A.B. de .C.V.:</strong>
<br>
<br>
Teléfonos de México, S.A.B. de C.V. (Telmex), con domicilio en Av. Parque Vía No.190, Colonia Cuauhtémoc, C.P. 06599, en México, Distrito Federal, hace de su conocimiento que los datos personales de usted, incluyendo los sensibles, que actualmente o en el futuro obren en nuestras bases de datos, serán tratados y/o utilizados por: Telmex y/o las empresas controladoras de ésta última y/o nuestras empresas filiales y/o subsidiarias y/o aquellos terceros que, por la naturaleza de sus trabajos o funciones tengan la necesidad de tratar y/o utilizar sus datos personales; con el propósito de cumplir aquellas obligaciones que se derivan de la relación jurídica existente entre usted como titular de los datos personales y las empresas antes señaladas.
<br>
<br>
Telmex podrá transferir los datos personales que obren en sus bases de datos a cualesquiera de las empresas controladoras de ésta última y/o a sus empresas filiales y/o subsidiarias e incluso a terceras personas, nacionales o extranjeras, salvo que los titulares respectivos manifiesten expresamente su oposición, en términos de lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la Ley).
<br>
<br>
Los titulares podrán ejercer los derechos que les confiere la Ley, a partir del 6 de enero de 2012, mediante una solicitud por escrito, que deberá ser presentada en cualquiera de los domicilios de las tiendas Telmex que se indican en la página web:
<a class="lnk_azul" href="../index.html">www.telmex.com</a>
.Todas las solicitudes que sean presentadas a Telmex, independiente del medio utilizado por los titulares, deberán:
<ul style="list-style-type: disc;">
<li> Incluir el nombre y firma autógrafa del titular, así como un domicilio u otro medio para comunicarle la respuesta a su solicitud.</li>
<li> Acompañar los documentos oficiales que acrediten la identidad del titular.</li>
<li> Incluir una descripción clara y precisa de los datos personales respecto de los cuales ejercitará los derechos que les confiere la Ley.</li>
<li> Incluir cualquier elemento o documento que facilite la localización de los datos personales de que se traten.</li>
</ul>
<br>
Telmex se reserva el derecho de cambiar, modificar, complementar y/o alterar el presente aviso, en cualquier momento, en cuyo caso se hará de su conocimiento a través de cualquiera de los medios que establece la legislación en la materia. 