<form action="mailto:rashcarnales@gmail.com" method="post" enctype="text/plain">
	<textarea name="contacto" cols="30" rows="5">
		Escribe...
	</textarea>
	<input type="submit" value="enviar" />
</form> 