<script type="text/javascript">
window.addEvent("domready", function(){
	new Form.Request($('ourForm'), $('ourTarget'), {
		
	
		
		onSend: function(){
			$('ourButton').set('value', 'Sending the form...').set('disabled', true);
    	},
		onComplete: function(){
        	$('ourButton').set('value', 'inject some HTML').set('disabled', false);
    	}

		
	});	
});
</script>

<style type="text/css">
	
</style>

<form action="../php/dao.insert.documento.php">
	
</form>