<script type="text/javascript">
	window.addEvent("domready", function(){
	
	$("vinc_doc").addEvent('click', function(){
		$("principal").load("../html/doc.nuevo.html");
	
	});
	
	$("vinc_plant").addEvent('click', function(){
		$("principal").load("../html/plant.nuevo.html");
	
	})
	
});
</script>



<style type="text/css">
	.ico{
		width:100px;
		height:100px;
		
		
		
		background-color: #C3C3C3;
		border: 2px solid black;
	}
	
	#vinc_doc, #vinc_plant{
		float: left;
		width:100px;
		height:100px;
		text-decoration: none;
		margin: 10px 30px;
		
	}
	
</style>
<a id="vinc_doc" href="javascript:void(0)" title="Nuevo Documento">
	<div class="ico" >
		<img src="../css/img/doc_nuevo.png" alt="doc_nuevo.png" width="100" height="100">
	</div>	
</a>
<a id="vinc_plant" href="javascript:void(0)" title="Nueva Plantilla">
	<div class="ico" > nueva plantilla </div>	
</a>
