<style type="text/css">
	#div_plant{
		width: 300px;
		height: 300px;
		float: left;
	}
	
	#resultado{
		float: right;
		width: 300px;
		height: 300px;
	}
</style>
<script language="JavaScript" type="text/javascript">
	
window.addEvent("domready", function(){
	new Form.Request($('formPlant'), $('resultado'), {
    onSend: function(){
        $('ourButton').set('value', 'Sending the form...').set('disabled', true);
    },
    onComplete: function(){
        $('ourButton').set('value', 'inject some HTML').set('disabled', false);
    }
});
});



</script>
<div id="div_plant">
<form id="formPlant" action="../php/dao.insert.plantilla.php" method="post">
	<label for="nombre">nombre: </label>
	<input name="nombre" type="text"/>
	<br />
	<br />
	<label for="contenido">Argumento: </label>
	<textarea name="contenido" cols="40" rows="10"></textarea>
    <input id="ourButton" type="submit" value="inject some HTML">
</form>
</div>

<div id="resultado">
    <p>This is our target. The HTML we send to the server will replace this content.</p>
</div>   